<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <form action="/signup" method="POST">
      <div class="row">
       <div class="col-sm-12">
          <input class="contactus" placeholder="Yaş (18 - 100)" type="number" name="age">
       </div>
        <div class="col-sm-12">
           <input class="contactus" placeholder="E-Mail" type="email" name="email">
        </div>
         <div class="col-sm-12">
            <input class="contactus" placeholder="Kullanıcı Adı" type="text" name="username">
         </div>
         <div class="col-sm-12">
            <input class="contactus" placeholder="Şifre" type="password" name="password">
         </div>
         <div class="col-sm-12">
            <button class="send">KAYIT</button>
         </div>
      </div>
   </form>
</body>
</html>